//#include "microball_L.keymap"
#include "boards/shields/Test/microball_R.overlay"

&trackball {
    // automouse-layer = <7>;
    scroll-layers = <4 6>;
    // snipe-layer = <3>;

    arrows {
        layers = <7>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <10>;
        wait-ms = <5>;
        tap-ms = <5>;
    };
};
